bkp/
obj/
/include/*
!/plugin_master/*/include
lib/
*.stamp
compile.log
c39a2
c38b2
c39a1
c39a2-291
c40a1-327
c42a1-327
c45b1
string*tgz
c39a2dev
*.F90
*.o
*.mod
octave-workspace
src2F90
projects*tgz
penmp